body {
    width: 480px;
}

nav {
    background-color: black;
    padding: 10px;
}

nav .logo {
    color: #ffffff;
    font-size: 1em;
}

nav .logo .title {
    font-weight: bold;
}

nav .logo .author {
    font-size: 0.75em;
    font-weight: bold;
    text-align: right;
}

nav .logo .author a {
    color: #ffffff;
}
